edge {
    text-alignment: center;
    text-size: 20px;
    text-background-mode: plain;
}


edge.mst {
    fill-color: rgb(0,100,255);
}
edge.visited {
    fill-color: rgb(255, 100, 0);
}
node {
    text-alignment: center;
    text-size: 40px;
    text-background-mode: plain;
    text-color: rgb(100, 0, 255);
}